.sidebar__item {
  cursor: pointer;
  width: 32px;
  height: 32px;
  padding: 32px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
  border: none;
  transition: transform 50ms ease 0s;
}

.sidebar__item:active {
  transform: scale(0.95);
}