.input-panel {
  display: grid;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
  justify-items: center;
  align-items: center;
  padding: 16px;
  row-gap: 10px;
  column-gap: 5px;
}

.input-panel__input {
  grid-column-start: 1;
  grid-column-end: -2;
  justify-self: stretch;
  align-self: stretch;
  background-color: rgb(224, 224, 224);
  border-radius: 16px;
  font-size: 18px;
  padding: 3px 8px;
  border: 2px solid transparent;
  outline: none;
}

.input-panel__candidate-avatar:last-child {
  grid-column-start: -2;
  grid-column-end: -1;
}

.input-panel__input:focus-visible{
  border: 2px solid rgb(255, 179, 66);
}

.input-panel__submit {
  cursor: pointer;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg type="submit" value="submit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="32" height="32"><path d="M56 8L44 52 28 38l15-17-21 15-14-4zM26 41v15l7-9z" fill="%234C5B70"></path></svg>');
  background-color: transparent;
  background-repeat: no-repeat;
  color: transparent;
  border: none;
  width: 32px;
  height: 32px;
  transition: transform 50ms ease 0s;
}

.input-panel__submit:active {
  transform: scale(0.95);
}

.input-panel__submit:disabled {
  cursor: default;
  opacity: 0.25;
}

.input-panel__candidate-radio {
  display: none;
}

.input-panel__candidate-avatar {
  cursor: pointer;
}

.input-panel__candidate-radio:not(:checked) + .input-panel__candidate-avatar {
  display: inline-block;
  position: relative;
  line-height: 1;
}

.input-panel__candidate-radio:not(:checked) + .input-panel__candidate-avatar::before{
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}