.list-page {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.list-page .select-panel {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.list-page .select-panel::-webkit-scrollbar {
  display: none;
}

.list-page .search-panel {
  position: sticky;
  top: 0;
  flex-shrink: 0;
  z-index: 1;
}
