.character-list {
  border-top: 1px solid rgb(220, 229, 236);
  background-color: rgb(243, 247, 248);
  padding: 0;
  margin: 0;
}

.character-list *:has(> input:checked) {
  background-color: rgb(220, 229, 236);
}

@media (hover: hover) {
  .character-list > *:hover {
    background-color: rgb(220, 229, 236);
  }
}
